

/*element styling*/
body {
  background-color: lightgray;
  font-family: 'Courier Prime', Courier, monospace;

  padding: 10px 10px 10px 10px;
  margin: 50px 100px 100px 100px; 

}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: left;
}

p {
  /*font-family: verdana;*/
  font-size: 20px;
  color: white;
}

/*responsive image*/
img {
  max-width: 100%;
  height: auto;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*class styling*/
.center {
  text-align: center;
}

.img-center {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.small-bottom-margin {
  margin-bottom: 2px; 
}

.small-top-margin {
  margin-bottom: 2px; 
}

.bg-color-black {

  background-color: black;
}

.bg-color-white {
  background-color: white;
  
}

/*id styling*/
#footer {
  text-align: center;
  color:white;
}

#blog-list {
  color: white;
}

/*phone*/
@media (max-width: 320px)
{


}

/*tablet*/
@media (max-width: 768px)
{


}

/*screen 1200+*/
@media (max-width: 320px)
{


}