
/*Full sizing CSS*/

/*element styling*/
body {
  background-color: black;
  border-color: lightgray;
  border-width: 10px;
  font-family: 'Courier Prime', Courier, monospace;

  padding: 10px 10px 10px 10px;
  margin: 50px 100px 100px 100px; 

}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: left;
}

h4 {
  color: white;
  text-align: left;
}


p {
  /*font-family: verdana;*/
  font-size: 20px;
  color: white;
}

/*responsive image*/
img {
  max-width: 50%;
  height: auto;
}

.linkText
{
    color: lightblue;
    font-size: 200%;
}

/*class styling*/

/*NAV menu*/
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

.nav ul {
  display: block
}

.nav li {
  float: left;
  list-style-type: none;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.center {
  text-align: center;
}

.small-bottom-margin {
  margin-bottom: 2px; 
}

.small-top-margin {
  margin-bottom: 2px; 
}

.bg-color-black {

  background-color: black;
}

.bg-color-white {
  background-color: white;
  
}

.cont-padding {
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
}

.cont-padding img{
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-list {

  margin: auto;
  padding: auto;

}
  


/*id styling*/
#footer {
  text-align: center;
  color:white;
  padding-top: 20px;
}

#wiki-links {
  color: white;
  text-align: right;
}

#header {

  background-color: black;
}

/*phone sizing*/
@media only screen and (max-width: 320px)
{
  body {
    padding: auto;
    margin: auto; 
  
  }
  
  h1, h2, h3 {
    text-align: left;
  }
  
  p {
    font-size: 5vm;
  }
  
  .linkText
  {
      font-size: 100%;
  }
  
  /*class styling*/

 
  .small-bottom-margin {
    margin-bottom: 0px; 
  }
  
  .small-top-margin {
    margin-top: 0px;
  } 

  .cont-padding {
 
    padding: 5px 5px 5px 5px;
  }
  
  /*id styling*/
  #footer {

    padding-top: 5px;
  }
  
  #header {

    background-color: rgb(68, 164, 0);
  }

  }
  


/*tablet sizing*/
@media only screen and (min-width: 321px) and (max-width:768px)
{
  body {
    
    padding: auto;
    margin: auto; 
  
  }
  
 
  p {
    /*font-family: verdana;*/
    font-size: 10px;
  }

  
  .linkText
  {
      font-size: 150%;
  }
  
  /*class styling*/
  
  /*NAV menu*/
  .nav ul {
    display: block;
  }
  

  .cont-padding {

    padding: 10px 10px 10px 10px;
  }
   
 
  /*id styling*/
  #footer {

    padding-top: 10px;
  }
  
  #header {

    background-color: aquamarine;
  }

}
