

/*element styling*/
body {
  background-color: black;
  border-color: lightgray;
  font-family: 'Courier Prime', Courier, monospace;

  padding: 10px 10px 10px 10px;
  margin: 50px 100px 100px 100px; 

}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: left;
}

p {
  /*font-family: verdana;*/
  font-size: 20px;
  color: white;
}

/*responsive image*/
img {
  max-width: 50%;
  height: auto;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

nav ul {
  display: block
}

nav li {
  float: left;
  list-style-type: none;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: lightslategray;
}

/*class styling*/
.center {
  text-align: center;
}

.small-bottom-margin {
  margin-bottom: 2px; 
}

.small-top-margin {
  margin-bottom: 2px; 
}

.bg-color-black {

  background-color: black;
}

.bg-color-white {
  background-color: white;
  
}

.cont-padding {
  width: 50%;
  height: auto;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
}

.cont-padding img{
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*id styling*/
#footer {
  text-align: center;
  color:white;
}

#blog-list {
  color: white;
}

#wiki-links {
  color: white;
  text-align: left;
}

/*phone*/
@media (min-width: 320px)
{


}

/*tablet*/
@media (min-width: 768px)
{


}

/*screen 1200+*/
@media (min-width: 320px)
{


}